<div class="container">
    <h2>Angular2 adjectives</h2>

    <div class="row col-xs-6">
        <!--[(model)]="selectedAdjectives"-->
        <select select2 class="form-control" name="adjectiveSelect"
                multiple="multiple" [placeholder]="'Wybierz przymiotniki'"
                (selected)="itemSelected($event)"
                (deleted)="itemDeleted($event)">
            <option *ngFor="#adj of adjectives" value="{{ adj.id }}">{{ adj.name }}</option>
        </select>
        <pre>
            {{selectedAdjectives}}
        </pre>
    </div>
</div>