<div class="container">
    <h2>Angular2 adjectives</h2>

    <div class="row">
        <div class="col-xs-6">
            <select select2 class="form-control" name="adjectiveSelect"
                    multiple="multiple" [placeholder]="'Wybierz przymiotniki'"
                    (selected)="itemSelected($event)"
                    (deleted)="itemDeleted($event)">
                <!-- could use async filter -->
                <option *ngFor="#adj of adjectives" value="{{ adj.id }}">{{ adj.name }}</option>
            </select>
        </div>
    </div>
    <div class="row" style="height: 100px">
        <!-- spacer -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <score-table [score]="score"></score-table>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <hr>
    <span class="pull-right">
        Created by <em>mszarlinski</em>
    </span>
</div>