<div class="panel panel-default">
    <div class="panel-heading"><strong>Scores</strong></div>
    <div class="panel-body" *ngIf="score">
        <table class="table">
            <tr *ngFor="#scale of score.scaleIds">
                <td><strong>{{ scale }}</strong></td>
                <td>{{ score.scaleNames[scale] }}</td>
                <td><strong>{{ score.scalePoints[scale] }}</strong></td>
            </tr>
        </table>
        <button type="button" class="btn btn-success" (click)="exportToCsv()">Export to CSV</button>
        <button type="button" class="btn btn-primary" (click)="exportToTxt()">Export to TXT</button>
    </div>
</div>